@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here.
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 20 15% 15%;
    --foreground: 55 30% 92%;
    --card: 21 13% 21%;
    --card-foreground: 55 30% 92%;
    --popover: 21 13% 21%;
    --popover-foreground: 55 30% 92%;
    --primary: 29 51% 79%;
    --primary-foreground: 20 15% 15%;
    --secondary: 2 22% 33%;
    --secondary-foreground: 0 0% 100%;
    --muted: 16 15% 29%;
    --muted-foreground: 21 27% 69%;
    --accent: 267 24% 84%;
    --accent-foreground: 20 15% 15%;
    --destructive: 0 69% 67%;
    --destructive-foreground: 20 15% 15%;
    --border: 16 15% 29%;
    --input: 16 15% 29%;
    --ring: 22 33% 65%;
    --chart-1: 22 33% 65%;
    --chart-2: 37 22% 65%;
    --chart-3: 18 26% 52%;
    --chart-4: 14 21% 45%;
    --chart-5: 22 19% 55%;
    --sidebar: 23 15% 11%;
    --sidebar-foreground: 55 30% 92%;
    --sidebar-primary: 22 33% 65%;
    --sidebar-primary-foreground: 23 15% 11%;
    --sidebar-accent: 37 22% 65%;
    --sidebar-accent-foreground: 23 15% 11%;
    --sidebar-border: 16 15% 29%;
    --sidebar-ring: 22 33% 65%;
    --font-sans: DM Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 0.5rem;
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.11;
    --shadow-color: hsl(20 18% 51% / 0.4);
    --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
    --shadow-xs: 2px 2px 0px 0px hsl(20 18% 51% / 0.06);
    --shadow-sm: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
      2px 1px 2px -1px hsl(20 18% 51% / 0.11);
    --shadow: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
      2px 1px 2px -1px hsl(20 18% 51% / 0.11);
    --shadow-md: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
      2px 2px 4px -1px hsl(20 18% 51% / 0.11);
    --shadow-lg: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
      2px 4px 6px -1px hsl(20 18% 51% / 0.11);
    --shadow-xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.11),
      2px 8px 10px -1px hsl(20 18% 51% / 0.11);
    --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 51% / 0.28);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
